
@layer vars, core, basics, page;

@layer vars {
	:root {
		color-scheme: dark;
		--link: cyan;
		--prime: #A1C33F;
		--special: yellow;
		--bg: #313422;
	}
}

@layer core {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	::-webkit-scrollbar { width: 4px; }
	::-webkit-scrollbar-track { background: transparent; }
	::-webkit-scrollbar-thumb { background: #333; border-radius: 1em; }
	::-webkit-scrollbar-thumb:hover { background: #444; }

	a {
		color: var(--link);
		text-decoration: none;

		&:visited {
			color: color-mix(in srgb, var(--link), purple 30%);
		}

		&:hover {
			color: color-mix(in srgb, var(--link), white 10%);
			text-decoration: underline;
		}

		&:active {
			color: color-mix(in srgb, var(--link), white 50%);
		}
	}
}

@layer basics {
	html, body { height: 100%; }
	html {
		font-family: "Alan Sans", sans-serif;
		font-size: 12px;
		color: var(--prime);
		background: var(--bg);
		text-shadow: 0.1em 0.1em 0.2em #0008;
	}
}

@layer page {
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: clamp(0em, calc(5vw - 3em), 4em);
	}

	olive-app {
		width: 50em;
		height: 80em;
		max-width: 100%;
		max-height: 100%;

		background: #0002;
		border-bottom: 1px solid #fff2;
		border-radius: clamp(0em, calc(5vw - 3em), 2em);
		box-shadow:
			inset 0.1em 0.2em 3em #0004,
			0.1em 0.2em 2em #0002;

		section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1em;
			height: 100%;
			&::before, &::after {
				content: "";
				display: block;
				flex: 1 1 auto;
			}
			&::after {
				flex-grow: 3;
			}
		}
	}

	.logo {
		width: 12em;
		max-width: 100%;
		filter: drop-shadow(0.1em 0.1em 0.2em #0004);
	}

	h1 {
		font-size: 3em;
		text-shadow: 0 0 0.5em color-mix(in lch, var(--prime), #fff4 80%);
	}

	p { font-size: 1.5em; }
	.version { color: #fe0; }
}

